<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/main.css">
   <link rel="stylesheet" href="../static/booking.css">
    <!-- <script src="../js/main.js"></script> -->
    <title>Login | TraceWare</title>
</head>

<body>
    <header>
        <b><a href="{{url_for('honey')}}">TraceWare</a></b>
        <nav>
            <a href="{{url_for('honey')}}">Home</a> |
            <a href="{{url_for('signup')}}" id="signup">Signup | </a>
            <a href="mailto:contact@automob.co.in">contact@automob.co.in &#9993;</a> |
            <a>999-999-9999 &#9743;</a>
        </nav>
    </header>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category,message in messages %}
<div class="alert alert-{{category}}">{{message}}</div>
{% endfor %}
{% endif %}
{% endwith %}

    <main>
        <h2>Login</h2>
        <form action="/login" method="POST" autocomplete="off">
            <div>
                <label for="uname">Username:</label>
                <input id="uname" type="text" name="name" required>
        
            </div>
            <div>
                <label id="pass" for="pwd">Password: </label>
                <input type="password" id="pwd" name="password" required>
            </div>
            <br>
            <div>
                <input onclick="logincheck(event)" type="submit" value="Login">
            </div>
            <br><br>
        
        </form>
       
    </main>
    <footer>
        <span>Copyright &copy; 2020 AutoMob-Mechanic.</span>&nbsp;
        <span>All Rights Reserved.</span>
    </footer>
</body>

</html>

<!-- Filename: login.html
Description:
Created by: Savio Sunny
Modified by: -->